@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #ffffff; /* bg-white */
  color: #1a202c; /* text-gray-900 */
  font-family: 'Geist', sans-serif;
}

.dark body {
  background-color: #1a202c; /* bg-gray-900 */
  color: #f7fafc; /* text-gray-100 */
}


